.ejemplo_inicial{
    background-color: rgb(224, 82, 10);
    border: 10px dashed rgb(126, 193, 126);
    /* Arriba Derecha Abajo Izquierda*/
    margin: 10px 5px 20px 3px;
    padding: 10px;
    
}
.ejemplo_inicial2{
    background-color: rgb(44, 41, 218);
    border: 4px solid rgb(246, 18, 200);
    /* Arriba Derecha Abajo Izquierda*/
    margin: 10px 5px 20px 3px;
    padding: 10px;
}
.texto{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
}
/* Cambiar el codigo para la tipografia*/

.display{
    display:inline-block;
    width: 130px;
    height: 50px;
}
.display2{
    display:inline-block;
    width: 80px;
    height: 200px;
}
.display3{
    display:block;
    height: 300px;
}
